body {
    font-family: sans-serif;
    margin: 0;
    background-color: #222;
    color: #eee;
    line-height: 1.6;
}

/* CABEÇALHO */
.bg-light {
    background-color: rgb(29, 29, 29); /* Cor de fundo sólida */
    /* Removi a propriedade opacity para um fundo opaco */
}

.container-fluid-home {
    display: flex;
    flex-direction: row;
    margin: 0 20px;
    /* Remova ou altere a propriedade justify-content */
    /* justify-content: space-between; */ /* Remova esta linha */
    align-items: center;
    padding: 10px 0;
}

.navbar-brand-home {
    padding-right: 20px;
    text-decoration: none;
    color: red;
    margin: 0; /* Removi a margem individual, o espaçamento será controlado pelo container */
    font-size: 1.5em; /* Exemplo de ajuste de tamanho da fonte */
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0; /* Mantenha a margem como 0 para começar da esquerda */
}

.nav-item {
    margin: 0 15px 0 0; /* Ajuste a margem para espaçamento à direita */
}

.nav-link {
    color: white !important;
    text-decoration: none; 
}

.nav-link.active {
    font-weight: bold; 
}

 
.rodape{
    bottom: 0;
    width: 100%;
    height: 95px;
    padding: 1%;
    background: rgb(29, 29, 29);
    opacity: 50%;
    color: white;
    text-align: center;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.rodape-title{
    margin: 0px;
}

.rodape-text{
    font-size: 11px;
    margin: 0px;
}